.Limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  height: 700px;
  overflow-x: auto;
  margin-top: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrap-table100::-webkit-scrollbar {
  display: none;
}

.Table {
  width: 100%;
  display: table;
  margin: 0;
  height: 700px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid
}

@media screen and (max-width: 768px) {
  .Table {
    display: block;
    height: 700px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid
  }
}

.Row {
  display: table-row;
  background: #fff;
}

.Row.Header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  .Row {
    display: block;
  }

  .Row.Header {
    padding: 0;
    height: 0px;
  }

  .Row.Header .Cell {
    display: none;
  }

  .Row .Cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.Cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .Cell {
    display: block;
  }
}

.Row .Cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.Row.Header .Cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #625e5e;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.Row .Cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.Row .Cell:nth-child(2) {
  width: 160px;
}

.Row .Cell:nth-child(3) {
  width: 250px;
}

.Row .Cell:nth-child(4) {
  width: 190px;
}

.Row {
  width: 100% !important;
}

.Table {
  height: 100px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid
}

.Row:hover {
  background-color: #ececff;
  color: #555555;
  cursor: crosshair;
}

@media (max-width: 768px) {
  .Row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .Row .Cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .Row .Cell:nth-child(1) {
    padding-left: 30px;
  }

  .Row .Cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .Row, .Cell {
    width: 100% !important;
  }

  .Table {
    height: 700px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid
  }
}
